@model BankSystem.Models.login

@{
    ViewBag.Title = "BankPage";
    Layout = "~/Views/Shared/_bankLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Styles.css">

    <title>American Express Online</title>
</head>
<body style="background-color: #f7f7f7; ">

    <h2>Welcome to Your American Express</h2>
    @if (TempData["balance"] != null)
    {
        <div class="titlepage">
            <img src="~/Photos/greenCard.png" style="width:35%;" />
            <h2 style="font-weight: bolder; margin-top: 15px; border-bottom: #026ECF solid 2px;">@Html.Label("Balance :") $@TempData["balance"]</h2>
        </div>
    }

    <br /><br /><br /><br />
    <footer>
        @foreach (BankSystem.Models.Branches item in Model.Branchs)
        {
            <div>Contact Us :</div>
            <div>Branch Name : @item.Name</div>
            <div>Address : @item.Address</div>
            <div>CUSIP : @item.CUSIP</div>
            <div>Contact : @item.Contact</div>
        }
    </footer>
</body>
</html>




@if (TempData.ContainsKey("message"))
{
    <script type="text/javascript">
        alert('@TempData["message"]');
    </script>
}



