@model BankSystem.Models.login

@{
    ViewBag.Title = "Register";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/Styles.css" />

    <style>
        .titlepage h2 {
            padding: 0px 0px 6px 0px;
            font-size: 40px;
            font-weight: bold;
            color: #050303;
            line-height: 46px;
            margin-bottom: 0px;
            margin-bottom: 20px;
            border-bottom: rgb(2,110,207) solid 2px;
            width: 442px;
            margin: 0 auto;
            margin-bottom: 0px;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <div class="titlepage">
        <h2 style="margin-top:20px;">Register Account</h2>
    </div>
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
<div class="container">
    <div class="form-group ">
        <div class="col-md-3">@Html.Label("Name :")</div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group ">
        <div class="col-md-3">@Html.Label("SSN :")</div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.SSN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SSN, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">@Html.LabelFor(model => model.DOB)</div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "Date Of Birth", @readonly = "true" } })
        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-3">@Html.Label("Phone :")</div>
    <div class="col-md-5">@Html.TextBoxFor(x => x.Phone, new { @class = "form-control", autocomplete = "off" })</div>
    <div>@Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })</div>
</div>
<div class="form-group">
    <div class="col-md-3">@Html.Label("Email :")</div>
    <div class="col-md-5">@Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off" })</div>
</div>
<div class="form-group">
    <div class="col-md-3">@Html.Label("Address :")</div>
    <div class="col-md-5">@Html.TextBoxFor(x => x.Address, new { @class = "form-control", autocomplete = "off" })</div>
</div>
<div class="form-group">
    <div class="col-md-3">@Html.Label("Username :")</div>
    <div class="col-md-5">@Html.TextBoxFor(x => x.username, new { @class = "form-control", autocomplete = "off" })</div>
</div>
<div class="form-group">
    <div class="col-md-3">@Html.Label("Password :")</div>
    <div class="col-md-5">@Html.PasswordFor(x => x.password, new { @class = "form-control", autocomplete = "off" })</div>
</div>
<div class="form-group">
    <div class="col-md-3">@Html.Label("PIN Number :")</div>
    <div class="col-md-5">@Html.PasswordFor(x => x.PIN, new { @class = "form-control", autocomplete = "off" })</div>
    @Html.ValidationMessageFor(model => model.PIN, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    <div class="col-md-3">@Html.Label("Branch :")</div>
    <div class="col-md-5">@Html.DropDownListFor(model => model.Branch, ViewBag.BranchList as SelectList, "Select Location", new { @class = "form" })</div>

</div>
<div class="form-group">
    <div class="col-md-3">@Html.Label("Account Type :")</div>
    <div class="col-md-5">
        @Html.DropDownListFor(x => x.AccountType, new List<SelectListItem>
{
   new SelectListItem{ Text = "Current", Value = "Current" },
   new SelectListItem{ Text = "Saving", Value = "Saving" },
}, "Select Category", new { @class = " col-md-5" })
        @Html.ValidationMessageFor(model => model.AccountType, "", new { @class = "text-danger" })

    </div>
</div>
<div class="form-group">
    <div class="col-md-1"><input type="submit" value="Register" class="btn btn-primary" /></div>
    <div class="col-md-3"><a href="@Url.Action("Index", "Home")" class="btn btn-default">Sign In</a></div>
    <div>
        @if (ViewBag.attempt != null)
        {
            @ViewBag.attempt
        }
    </div>
</div>
</div>
    }
</body>
</html>

    @section Scripts {

        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")

        <script type="text/javascript">

            $(document).ready(function () {
                $('input[type=datetime]').datepicker({
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });

            });
        </script>
    }


