@model BankSystem.Models.Statement

@{
    ViewBag.Title = "Statement";
    Layout = "~/Views/Shared/_bankLayout.cshtml";
}

@if (ViewData["wrongdates"] != null)
{
    <div style="color: #ff0000">@ViewData["wrongdates"]</div>
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/Styles.css" />
</head>
<body>
    <div class="titlepage">
        <h2 style="border-bottom: #026ECF solid 2px;">Transaction History</h2>
    </div>

    @using (Html.BeginForm("Statement", "Home", FormMethod.Post))
    {
        <div class="container" style="margin-top:5%;">
            <div class="row form-horizontal">
                <div class="form-group row">
                     </div>
                <div class="form-group row" style="margin-left:15px;">
                    <div class="col-md-5"><input type="submit" value="Show History" class="btn btn-primary" /></div>
                </div>
            </div>
        </div>
    }
</body>
</html>
@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <th>
                Transaction Date
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
        </tr>

        @foreach (BankSystem.Models.Statemomentum item in Model.StatementList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TranDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>

        }

    </table>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>
}
