<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>American Express Banking</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/Styles.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <script src="~/Scripts/custom.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    <!-- header -->
    <header>
        <!-- header inner -->
        <!-- header inner -->
        <div class="header">
            <div class="navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <img src="~/Photos/AmericanExpressLogo.png" alt="logo" width="50%" style="margin-left:-90%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li> <a href="#about">About</a> </li>
                                            <li><a href="#service"> Service</a> </li>
                                            <li> <a href="#blog">Blog</a> </li>
                                            <li><a href="@Url.Action("Login", "Home")">Login</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    @RenderBody()
    <!--  footer -->
    <!-- Footer -->
    <div style="background-color: rgb(2,110,207); color:white; padding:20px;">
    <footer class="page-footer font-small pt-4 ">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left" style="color:white">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <i class="fa fa-map-marker fa-2x"></i>
                    <h2 class="text-uppercase text-white">Address</h2>
                    <p>American Express Company, Thre World Financial, 200 Vesey Street, New York NY, 10285-4803, United States </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase text-white">Other Links</h5>

                    <ul class="list-unstyled">
                        <li >
                            <a href="@Url.Action("ContactUs", "Home")" style="color: #fff">Contact Us</a>
                        </li>
                        <li>
                            <a href="#!" style="color: #fff">Terms And Conditions</a>
                        </li>
                      
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h4 class="text-uppercase text-white">Social Media</h4>

                    <ul class="list-unstyled ">
                        <li>
                            <img src="~/icon/instagram.png" />
                            <a href="https://www.instagram.com/americanexpress/" style="color: #fff" >Instagram</a>
                        </li>
                        <li>
                            <img src="~/icon/tw.png" />
                            <a href="https://twitter.com/AmericanExpress" style="color: #fff">Twitter</a>
                        </li>
                        <li>
                            <img src="~/icon/lin(2).png" />
                            <a href="https://www.linkedin.com/company/american-express/" style="color: #fff">LinkedIn</a>
                        </li>
                        <li>
                            <img src="~/icon/fb.png" />
                            <a href="https://www.facebook.com/AmericanExpress" style="color: #fff">Facebook</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="/" style="color: #fff"> South East European University</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>
</body>
</html>
